@model ASPCoreCRUD.Models.menuModel
 @{
     ViewBag.Title = "Crear Menú";

  }


<form asp-action="Create">
    <div class="container">
        <div class="row">
            <div style="width:25%; height:50%; margin:10% auto;">
                <div class="form-group">
                    <label>Titulo: </label>
                    <input type="text" asp-for="titulo" class="form-control">
                </div>
                <div class="form-group">

                    <label>URL: </label>
                    <input type="text" asp-for="url" class="form-control">
                </div>
                <div class="form-group">
                    <label>Icono: </label>
                    <input type="text" asp-for="icono" class="form-control">
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" asp-for="activo" />Activo</label>
                    </div>

                </div>
                <div class="form-group">
                    <label>ID Padre: </label>
                    <input type="text" asp-for="titulo" class="form-control" value="0">
                </div>             
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> </script>
<script>
    $(document).ready(function () {
        $('#datepick').datepicker()
    });
</script>